# Python
__pycache__/
*.py[cod]
*.py[codz]
*$py.class
*.so
.venv/
venv/
env/
ENV/
*.egg-info/
.eggs/
dist/
build/
.pdm-python
.pdm-build/
.pixi
__pypackages__/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/
.ruff_cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.hypothesis/
.abstra/
.streamlit/secrets.toml

# Node
node_modules/

# Env
.env
.envrc

# Uploads
uploads/

# Docker
.docker/

# OS
.DS_Store

# IDE
.idea/
.vscode/
